<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Hi, <%= @invoice.employee.name %>, Please find the PDF of the new invoice attached.
    </p>
  </body>
</html>
