<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Hi, Admin, An Invoice has recently been created:
      Employee: <%= @invoice.employee.name %>,
      Client: <%= @invoice.client.name %>
    </p>
  </body>
</html>
