<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Hi, <%= @employee.name %>
      This is your temporary password:
      <%= @employee.temp_password %>
    </p>
  </body>
</html>
